.alert_col_div{
	align-items: center;
	justify-content: center;
	display: flex; 
	padding: 0; 
	margin: 0; 
	width: 100%;
	top: 63px;	
}
.alert{
	color: white; 	
	border: none; 
	background: rgba(0,0,0,.26); 
	box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,.2), inset 0 0 5px rgba(0,0,0,.1), 0 8px 8px -5px rgba(0,0,0,.25); 
	cursor: pointer; 
	user-select: none;
}
.para1{
	line-height: 2px; 
	padding-top: 10px; 
	padding-right: 0px;
}
.para2{
	line-height: 2px; 
	padding-top: 0;
}
@media screen and (max-width: 507px)
{
	.para1{
		line-height: 17px;
	}
	.para2{
		line-height: 17px;
		margin-top: -10px;
	}
}