.main_div {
	margin-top: 50px !important;
	font-family: calibri !important;
	margin-bottom: 0px !important;
}

.upper_bar {
	background-image: linear-gradient(270deg, #08d88d, #0eb5a3);
}

.upper_bar_heading {
	margin-top: -5px !important;
	margin-bottom: -5px !important;
	font-family: calibri;
}

.Piaic_Logo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: -15px;
}

.heading_below_the_logo {
	text-align: center;
	color: #02615d;
	margin-top: -40px;
	font-weight: bold;
}

.form {
	margin-top: -30px !important;
}

.email_label {
	color: #00ce9f;
	font-size: 15px !important;
}

.email_form_field {
	padding-top: 22px;
	padding-bottom: 22px;
}

.password_label {
	color: #00ce9f;
	font-size: 15px !important;
}

.password_form_field {
	padding-top: 22px;
	padding-bottom: 22px;
}

.not_a_member {
	float: left !important;
	color: #00ce9f;
}

.forget_password {
	float: right !important;
}

u {
	color: #02615d;
}

u:hover {
	color: #00ce9f;
}

.log_in_button_first_div {
	margin-top: 55px !important;
	margin-bottom: -30px !important
}

.log_in_button {
	font-size: 17px;
	font-weight: bold;
	border: 1px solid #00ce9f;
	border-radius: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 55px;
	padding-left: 55px;
	background-color: white;
	color: #00ce9f;
	margin-bottom: 14px;
	margin-top: 5px;
}

.log_in_button:hover {
	background-image: linear-gradient(270deg, #08d88d, #0eb5a3);
	border: #00ce9f;
	background-color: white;
}

@media screen and (max-width: 320px) {
	.sign_up {
		margin-right: 0;
	}
	.forget_password {
		margin-left: 0;
		margin-top: 0;
		position: absolute;
		right: 5px;
	}
}